
<div id="section3" class="section" style="display: none;">
    <table class="table table-bordered">
        <thead style="background-color:#D4EDF9 !important; font-size:12px; font-weight:blod">
            <tr class="p-5">
                <th>Drug ID</th>
                <th>Drug Name</th>
                <th>Quantity</th>
                <th>Expiry Date</th>
                <th>Drug Status</th>
                <th>Price Per Unit (NIS)</th>
                <th>Total Price (NIS)</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody style="font-size:12px; ">


            <tr class="p-0" style="background-color: #E5E5E5;color:#168305 ">
                <td colspan="7">
                    Saturday - 22, Jan, 2022

                </td>
                <td colspan="1">
                    <span style="color:#707070"> Total Price: </span>4000

                </td>
            </tr>

            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="p-0" style="background-color: #E5E5E5;color:#168305 ">
                <td colspan="7">
                    Saturday - 22, Jan, 2022

                </td>
                <td colspan="1">
                    <span style="color:#707070"> Total Price: </span>4000

                </td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>



        </tbody>
    </table>

</div>
