
<div id="section1" class="section col-12" style="display: none;">
    <div style="margin:15px 0 20px" class="d-flex">
        <h3 style="font-size:16px;font-weight: bold; margin-top:5px">Account Information </h3><img src="~/images/group 524.png" width="35" height="35" style="margin-top:0" />
    </div>
    <form >
        <div class ="p-3 " style="background-color:white; border:1px solid transparent; ">
        <div class="form-group row">
                <label class=" col-2 col-form-label p-2  " style="color:#0093DD ;font-size:14px ">Pharmcy Name</label>
                <div class="col-3 p-2">
                <input style="border:0.2px solid #B1B1B1; font-size:12px" type="password" class="form-control p-1" id="inputPassword" placeholder="Pharmacy name">
             @*   <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">*@
            </div>
        </div>
        <div class="form-group row">
                <label class="col-2  col-form-label p-2" style="color:#0093DD;font-size:14px">Account Number</label>
                <div class="col-3 p-2">
                    <input type="number" disabled style="border:none;background-color:white;font-size:12px" class="form-control " id="inputPassword" placeholder="11111">
            </div>
        </div>
        <div class="form-group row">
                <label class="col-2 col-form-label p-2" style="color:#0093DD;font-size:14px">Password</label>
                <div class="col-3 p-2">
                    <input style="font-size:12px;border:none;background-color:white; " type="password" class="form-control " id="inputPassword" placeholder="*****">
            </div>
        </div>
        </div>
        <div style="display: grid; justify-content: end;">
            <div class="col-10 align-content-start">
                <input class="p-2 px-4 my-1" type="submit" value="Update" style="background-color:#168305; border:none; font-size:12px;color:white;" />
            </div>
        </div>

    
    </form>

    <div style="margin:15px 0 20px" class="d-flex">
        <h3 style="font-size:16px;font-weight: bold; margin-top:5px">Pharmacy Location </h3><img src="~/images/group 524.png" width="35" height="35" style="margin-top:0" />
    </div>
    <div class="d-flex">
        <img  class="mx-1"src="~/images/location.png" width="20" height="20" />
        <p class="mx-1"style="font-size:16px;font-weight: bold">Location</p>
        <p style="font-size:14px ;color:#707070;padding:2px">Gaza - AlRimal - AlJala’a Street</pclass>

    </div>
    
        
</div>

<div id="section2" class="section col-12 p-0" style="display: none;">
    <table class="table table-bordered">
        <thead  style="background-color:#D4EDF9; font-size:12px; font-weight:blod">
            <tr class="p-5">
                <th>Drug ID</th>
                <th>Drug Name</th>
                <th>Quantity</th>
                <th>Expiry Date</th>
                <th>Drug Status</th>
                <th>Price Per Unit (NIS)</th>
                <th>Total Price (NIS)</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody style="font-size:12px; ">
            

            <tr class="p-0" style="background-color: #E5E5E5;color:#168305 ">
                <td colspan="7" >
                    Saturday - 22, Jan, 2022
                    
                </td>
                <td colspan="1" >
                    <span style="color:#707070"> Total Price: </span>4000

                </td>
            </tr>

            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Pending</td>
            </tr>
             
          
        </tbody>
    </table>

    
</div>


<div id="section3" class="section" style="display: none;">
    <table class="table table-bordered">
        <thead style="background-color:#D4EDF9; font-size:12px; font-weight:blod">
            <tr class="p-5">
                <th>Drug ID</th>
                <th>Drug Name</th>
                <th>Quantity</th>
                <th>Expiry Date</th>
                <th>Drug Status</th>
                <th>Price Per Unit (NIS)</th>
                <th>Total Price (NIS)</th>
                <th>Order Status</th>
            </tr>
        </thead>
        <tbody  style="font-size:12px; ">


            <tr class="p-0" style="background-color: #E5E5E5;color:#168305 ">
                <td colspan="7">
                    Saturday - 22, Jan, 2022

                </td>
                <td colspan="1">
                    <span style="color:#707070"> Total Price: </span>4000

                </td>
            </tr>

            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>
            <tr class="p-0" style="background-color: #E5E5E5;color:#168305 ">
                <td colspan="7">
                    Saturday - 22, Jan, 2022

                </td>
                <td colspan="1">
                    <span style="color:#707070"> Total Price: </span>4000

                </td>
            </tr>
            <tr class="text-center">
                <td>1111</td>
                <td style="color:#0093DD">Drug Name</t>
                <td style="color:#0093DD">20</td>
                <td>23,Jan,2023</td>
                <td><img src="~/images/available_check.png" width="15" height="15" />Available</td>
                <td style="color:#168305;">100 </td>
                <td style="color:#168305">2000 </td>
                <td style="color:#946800">Completed</td>
            </tr>



        </tbody>
    </table>
   
</div>
